h2::before
{
    content: "Tablero";
}

table
{
    border-collapse: collapse;
}

td
{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

tr:nth-child(odd) > td:nth-child(odd)
{
    background: black;
}

tr:nth-child(even) > td:nth-child(even)
{
    background: black;
}