.cover
{
    position: fixed;
    left: 25%;
}

.cd
{
    position: absolute;
    left: 0;
    top: -4px;
    z-index: -1;
    transition: 3s;
}

.title
{
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
}

.hide
{
    position: absolute;
    left: -170px;
    top: 0;
    color: white;
    margin: 0;
    transition: 3s;
}

.cover:hover > .cd
{
    transform: translateX(175px) rotate(180deg)
}

.cover:hover > .hide
{
    transform: translateX(175px);
}