vti_encoding:SR|utf8-nl
vti_author:SR|ORION\\Cesar Matelat
vti_modifiedby:SR|ORION\\Cesar Matelat
vti_timelastmodified:TR|09 Oct 2013 17:52:49 -0000
vti_timecreated:TR|09 Oct 2013 17:01:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Responsive/index.html
vti_nexttolasttimemodified:TW|09 Oct 2013 17:01:51 -0000
vti_cacheddtm:TX|09 Oct 2013 17:52:49 -0000
vti_filesize:IR|172
