.medium
{
	display: inherit !Important;
}

body
{
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size: .8rem;
}

label, h3
{
    font-size: 1rem;
}

img
{
    width: 800px;
    height: 600px;
}

#modify
{
    margin-bottom: 5%;
}

#data
{
    padding-top: .75%;
}

#nav-tab
{
    margin-top: 32px;
}

#logon /* ID del contenedor del html logon.html y del div con ID quit en login.html */
{
    display: none; /* Lo hace invisible. */
}