body
{
    background-color: #b0a0a0;
}

h1
{
    color: silver;
    text-align: center;
}

p
{
    background-color: rgb(177, 165, 158);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin: 10px;
    font-style: italic;
    font-size: .9em;
    border: 1px dotted lightgray;
    width: 185px;
    height: 220px;
    float: left;
    text-align: justify;
}

p::first-letter
{
    font-style: normal;
    color: burlywood;
    text-transform: capitalize;
    font-size: 2.5em;
    vertical-align: middle;
}