label, input
{
    font-size: 1.25rem; /* Establece el tamaño de la funete un 25% más grande para las etiquetas(label) y los input. */
}

#logon, #quit /* ID del contenedor del html logon.html */
{
    display: none; /* Lo hace invisible. */
}

fieldset, legend
{
    all: revert;
}

.center
{
    margin-left: 30%;
}