.grid {
  position: absolute;
  top: -50px;
  left: 500px;
  width: 1024px;
  height: 768px;
  border: solid 1px black;
  margin-top: 100px;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  border-radius: 25%;
  background-color: blueviolet;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}
