.back
{
    position: relative;
    top: 100px;
    left: 250px;
}

.ant_back
{
    position: relative;
    top: 115px;
    left: 190px;
}

.middle
{
    position: relative;
    top: 130px;
    left: 130px;
}

.second
{
    position: relative;
    top: 145px;
    left: 70px;
}

.first
{
    position: relative;
    top: 160px;
    left: 10px;
}

.back:hover, .ant_back:hover, .middle:hover, .second:hover, .first:hover
{
    border: 3px solid red;
}

.second:active
{
    z-index: 1;
}

.middle:active
{
    z-index: 1;
}

.ant_back:active
{
    z-index: 1;
}

.back:active
{
    z-index: 1;
}