body
{
    background-color: lightgray;
}

h1
{
    text-align: center;
}

#m1
{
    background-color: #DBC9A6;
    border: 1px solid #9B8F76;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-bottom: 50px;
}

#m2
{
    background-color: #91FF91;
    border: 1px solid #64B064;
    width: 350px;
    height: 150px;
    text-align: center;
    position: relative;
    top: 120px;
    left: 42%;
    z-index: 50;
}

#m3
{
    background-color: #FFFFB3;
    border: 1px solid #EBEBA5;
    width: 350px;
    height: 150px;
    position: relative;
    bottom: 150px;
    left: 25%;
}

#m4
{
    background-color: #C6FFFF;
    border: 1px solid #98C4C4;
    width: 350px;
    height: 150px;
    position: relative;
    bottom: 317px;
    left: 59%;
}

#m5
{
    background-color: #FFE5FF;
    border: 1px solid #BAA7BA;
    width: 350px;
    height: 150px;
    position: relative;
    bottom: 290px;
    left: 25%;
}

#m6
{
    background-color: #FFB4B4;
    border: 1px solid #865F5F;
    width: 350px;
    height: 150px;
    position: relative;
    bottom: 457px;
    left: 59%;
    text-align: right;
}