body
{
    background-color: #fddbbd;
}

div
{
    float: left;
    margin: 0px 10px;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
    text-align: center;
}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: #c9a568;
    color: #dddddd;
    width: 132px;
    position: relative;
    left: 21px;
    top: 15px;
    margin: 0px;
    padding-left: 10px;
}

p
{
    margin: 0px;
    background-color: #f2d0ab;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 10px;
    font-style: italic;
    font-size: .8em;
    border: 2px dotted #cca96e;
    width: 160px;
    height: 160px;
    text-align: justify;
}

p::first-letter
{
    font-style: normal;
    color: burlywood;
    text-transform: capitalize;
    font-size: 2.5em;
    vertical-align: middle;
}