#titulo { color: teal;}
div p { color: olive;}
a, strong, th { color: red;}
#especial { color: fuchsia;}
td, td em, div p a { color: green;}
h2, em, caption { color: blue;}
.especial, .destacado, td strong { color: orange;}
p span.especial { color: purple;}