@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No usaremos tus datos para venderte pendejadas.</p>
<p>Solo estarán disponibles en esta página WEB de prácticas.</p>
<h3>Gracias</h3>