fieldset, legend
{
    all: revert !important;
}

input[type="radio"]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2px;

    background-clip: content-box;
    border: 4px solid #ff0000;
    background-color: #fefefe;
    border-radius: 50%;
}
  
input[type="radio"]:checked
{
    background-color: #00ff00;
}

#logon_u
{
    display: none;
}

#logon_b
{
    display: none;
}

#delete_u
{
    display: none;
}

#delete_b
{
    display: none;
}

.separator
{
    margin-left: 80px;
}

.d-block
{
    width: 960px;
    height: 600px;
}