h1
{
    text-align: center;
}

.position
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#image
{
    position: relative;
    color: white;
    font-weight: bold;
    bottom: 144px;
    left: 80px;
    width: 640px;
    height: 70px;
    font-size: 3em;
    text-align: center;
    background-color: rgba(150,120,120,.4);
}

p
{
    margin: 0;
    padding-top: 14px;
}

#description
{
    opacity: 0;
}

/* #image:hover > #description
{
    transition: 3s;
    opacity: .6;
    font-weight: normal;
    color: blanchedalmond;
    background-color: rgba(165,42,42,.6);
    height: 140px;
} */

#image:hover > #description
{
    transition: 3s;
    opacity: .6;
    font-weight: normal;
    color: blanchedalmond;
    background-color: rgba(165,42,42,.6);
    height: 70px;
}