.great
{
	display:none;
}

.medium
{
	display:none;
}

.mini
{
	display:none;
}

/* .menu
{
	padding-left: 0;
}

.menu li
{
	display: inline;
	list-style-type: none;
}

.margen
{
    margin-left: 5%;
} */