.great
{
	display: inherit !Important;
}

header, footer, #wrapper
{
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 100%;
	max-width: 1800px;
}

#modify
{
    margin-bottom: 5%;
}

#nav-tab
{
    margin-top: 80px;
}