.mini
{
	display: inherit !Important;
}

body
{
	font-family:Arial, Helvetica, sans-serif;
}

select.mini
{
	font-size: 1.2em;
	width: 100%;
}

#loginbtn, #logonbtn, #modifybtn, #quitbtn
{
    display: none;
}

#logon, #quit
{
    display: block;
}

#modify
{
    margin-top: 10%;
}

#quit
{
    margin-bottom: 60%;
}