.mini
{
	display: inherit !Important;
}

body
{
	font-family:Arial, Helvetica, sans-serif;
    font-size: .66rem;
}

label, h3
{
    font-size: 1rem;
}

#loginbtn, #logonbtn, #modifybtn, #quitbtn
{
    display: none;
}

#logon, #login, #quit, #modify
{
    display: block;
}

#modify
{
    margin-top: 10%;
}

#quit
{
    margin-bottom: 60%;
}

#logon
{
    margin-bottom: 6%;
}

img
{
    width: 64px;
    height: 60px;
}