.boy
{
    background-image: url(../nino.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
}

.limit
{
    position: relative;
    top: 370px;
    left: 243px;
    width: 250px;
    height: 750px;
    overflow: hidden;
}

.yoyo
{
    position: absolute;
    transition: 2s;
}

.boy:hover > .limit .yoyo
{
    transform: translate(0, -258px);
}