#btn1
{
    background-color: aqua;
    width: 20%;
    height: 40px;
}

.giant
{
    font-size: 16em;
    text-align: center;
}

.blue
{
    color: blue;
}

.red
{
    color: red;
}

.orange
{
    color: orange;
}

.green
{
    color: green;
}

.yellow
{
    color: yellow;
}

.rotate
{
    animation: move 60s infinite;
    text-shadow: -1px 1px 10px #000, 5px 5px 10px #444, 1px -1px 10px #888, -1px -1px 10px #ccc; 
}

@keyframes move
{
    100% {transform: rotate(360deg);}
}